* {
  display: flex;
}

////////////////////////
//////// Fonts /////////
////////////////////////

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 'regular';
  font-weight: 400;
  font-style: normal;
}

.lato_bold {
  font-family: 'Lato', sans-serif;
  font-weight: 'regular';
  font-weight: 900;
  font-style: normal;
}

.josefin_light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.josefin_regular {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin_semibold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.large {
  font-size: 3em;
}

.regular {
  font-size: 1.3em;
}

.narrow {
  letter-spacing: -0.2px;
}

.wide {
  letter-spacing: 3px;
}

/////////////////////////
//////// Colors /////////
/////////////////////////
.dark_color, .med_color, .light_color {
  transition: color .4s;
}
.depths {
  .active .dark_color, .header{
    color: #4f258c;
  }
  .active .med_color {
    color: #9d34b7;
  }

  .active .light_color {
    color: #1caaf9;
  }
}

.mortality {
  .active .dark_color, .header {
    color: #111111;
  }
  .dark_color {
    color: #444444;
  }

  .active .med_color {
    color: #444444;
  }
  .med_color {
    color: #777777;
  }
  .active .light_color {
    color: #888888;
  }
  .light_color {
    color: #bbbbbb;
  }  
}



.active .dark_color, .header, .dark {
  color: #333333;
}

.active .med_color, .med {
  color: #666666;
}

.active .light_color, .light {
  color: #aaaaaa;
}

.app {
  background: #7f7f7f;
  flex-direction: column;
  position: absolute;
  flex: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app .clickable {
  cursor: pointer;
}

.app .button {
  cursor: pointer;
  box-shadow: 4px 4px 2px #282828;
  background-color: #646464;
  -webkit-transition: background-color 0.3s;
  /* Safari */
  transition: background-color 0.3s;
}

.app .button:hover {
  background-color: #646464;
  box-shadow: 3px 3px 1px #282828;
}

.app .link__media, .app .link {
  text-decoration: none;
  color: #666666;
  user-select: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  &:hover {
    color: #333333;
  }
}

.app .link__media:hover, .app .link:hover {
  color: #141414;
}

.hidden {
  display: none;
}

title {
  display: none;
}
