* {
  display: flex;
}

////////////////////////
//////// Fonts /////////
////////////////////////

.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 'regular';
  font-weight: 400;
  font-style: normal;
}

.josefin_regular {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin_semibold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.large {
  font-size: 40px;
}

.regular {
  font-size: 15px;
}

.narrow {
  letter-spacing: -0.2px;
}

.wide {
  letter-spacing: 3px;
}


.app {
  flex-direction: column;
  position: absolute;
  flex: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app .clickable {
  cursor: pointer;
}

.app .button {
  cursor: pointer;
  box-shadow: 4px 4px 2px #282828;
  background-color: #646464;
  -webkit-transition: background-color 0.3s;
  /* Safari */
  transition: background-color 0.3s;
}

.app .button:hover {
  background-color: #646464;
  box-shadow: 3px 3px 1px #282828;
}

.app .link__media, .app .link {
  text-decoration: none;
  color: #282828;
  user-select: none;
  letter-spacing: 0.3px;
  font-family: 'Arial';
  line-height: 1.2em;
}

.app .link__media:after, .app .link:after {
    content: 'copied';
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
    top: -30px;
    left: 10px;
    opacity: 0;
    padding: 5px;
    background: #aaaaaa;
    color: #282828;
}

.app .link__media.copied:after, .app .link.copied:after {
  animation: fadeIn 1s;
}

.app .link__media.copied_again:after, .app .link.copied_again:after {
  animation: otherFade 1s;
}

.app .link__media:hover, .app .link:hover {
  color: #141414;
}

.hidden {
  display: none;
}

title {
  display: none;
}
