.background_line.outer.green {
animation:backgroundlines_outer_green 10s linear infinite;
-moz-animation:backgroundlines_outer_green 10 linear infinites; /* Firefox */
-webkit-animation:backgroundlines_outer_green 10s linear infinite; /* Safari and Chrome */
-o-animation:backgroundlines_outer_green 10s linear infinite; /* Opera */}
.background_line.middle.green {
animation:backgroundlines_middle_green 10s linear infinite;
-moz-animation:backgroundlines_middle_green 10s linear infinite; /* Firefox */
-webkit-animation:backgroundlines_middle_green 10s linear infinite; /* Safari and Chrome */
-o-animation:backgroundlines_middle_green 10s linear infinite; /* Opera */}
.background_line.inner.green {
animation:backgroundlines_inner_green 10s linear infinite;
-moz-animation:backgroundlines_inner_green 10s linear infinite; /* Firefox */
-webkit-animation:backgroundlines_inner_green 10s linear infinite; /* Safari and Chrome */
-o-animation:backgroundlines_inner_green 10s linear infinite; /* Opera */}
.logoline_green.green, .header_line{
animation:logoline_green 15s linear infinite;
-moz-animation:logoline_green 15s linear infinite; /* Firefox */
-webkit-animation:logoline_green 15s linear infinite; /* Safari and Chrome */
-o-animation:logoline_green 15s linear infinite; /* Opera */}


.background_line.outer.green{
	opacity: .1;
}
.background_line.inner.green{
	opacity: .7;
}
.background_line.middle.green{
	opacity: .5;
}
.background_line.outer.green, .background_line.middle.green, background_line.inner.green, .logoline_green.green, .headerline{
	stroke:#52BC46;
	transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
	transition: stroke 0.4s ease-in;
    -ms-transition: stroke 0.4s ease-in;
    -moz-transition: stroke 0.4s ease-in;
    -webkit-transition: stroke 0.4s ease-in;
}







.background_line.inner.green:nth-child(1), .background_line.middle.green:nth-child(1), .background_line.outer.green:nth-child(1){
animation-delay:.5s;
-webkit-animation-delay:.5s; /* Safari and Chrome */
-o-animation-delay:.5s;
-moz-animation-delay:.5s;
}
.background_line.inner.green:nth-child(2), .background_line.middle.green:nth-child(2), .background_line.outer.green:nth-child(2){
animation-delay:1s;
-webkit-animation-delay:1s; /* Safari and Chrome */
-o-animation-delay:1s;
-moz-animation-delay:1s;
}
.background_line.inner.green:nth-child(3), .background_line.middle.green:nth-child(3), .background_line.outer.green:nth-child(3){
animation-delay:1.5s;
-webkit-animation-delay:1.5s; /* Safari and Chrome */
-o-animation-delay:1.5s;
-moz-animation-delay:1.5s;
}
.background_line.inner.green:nth-child(4), .background_line.middle.green:nth-child(4), .background_line.outer.green:nth-child(4){
animation-delay:2s;
-webkit-animation-delay:2s; /* Safari and Chrome */
-o-animation-delay:2s;
-moz-animation-delay:2s;
}
.background_line.inner.green:nth-child(5), .background_line.middle.green:nth-child(5), .background_line.outer.green:nth-child(5){
animation-delay:2.5s;
-webkit-animation-delay:2.5s; /* Safari and Chrome */
-o-animation-delay:2.5s;
-moz-animation-delay:2.5s;
}
.background_line.inner.green:nth-child(6), .background_line.middle.green:nth-child(6), .background_line.outer.green:nth-child(6){
animation-delay:3s;
-webkit-animation-delay:3s; /* Safari and Chrome */
-o-animation-delay:3s;
-moz-animation-delay:3s;
}
.background_line.inner.green:nth-child(7), .background_line.middle.green:nth-child(7), .background_line.outer.green:nth-child(7){
animation-delay:3.5s;
-webkit-animation-delay:3.5s; /* Safari and Chrome */
-o-animation-delay:3.5s;
-moz-animation-delay:3.5s;
}
.background_line.inner.green:nth-child(8), .background_line.middle.green:nth-child(8), .background_line.outer.green:nth-child(8){
animation-delay:4s;
-webkit-animation-delay:4s; /* Safari and Chrome */
-o-animation-delay:4s;
-moz-animation-delay:4s;
}
.background_line.inner.green:nth-child(9), .background_line.middle.green:nth-child(9), .background_line.outer.green:nth-child(9){
animation-delay:4.5s;
-webkit-animation-delay:4.5s; /* Safari and Chrome */
-o-animation-delay:4.5s;
-moz-animation-delay:4.5s;
}

@keyframes logoline_green
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}

}

@-moz-keyframes logoline_green /* Firefox */
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}

}

@-webkit-keyframes logoline_green /* Safari and Chrome */
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}
}

@-o-keyframes logoline_green /* Opera */
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}
}




@keyframes backgroundlines_outer_green
{
0%,100%   {opacity: .7;}
25%  {opacity: .5;}
75%  {opacity: .10;}

}

@-moz-keyframes backgroundlines_outer_green /* Firefox */
{
0%,100%   {opacity: .7;}
25%  {opacity: .5;}
75%  {opacity: .10;}
}

@-webkit-keyframes backgroundlines_outer_green /* Safari and Chrome */
{
0%,100%   {opacity: .7;}
25%  {opacity: .5;}
75%  {opacity: .10;}
}

@-o-keyframes backgroundlines_outer_green /* Opera */
{
0%,100%   {opacity: .7;}
25%  {opacity: .5;}
75%  {opacity: .10;}
}


@keyframes backgroundlines_middle_green
{
0%,100%   {opacity: .5;}
25%  {opacity: .7;}
75%  {opacity: .10;}

}

@-moz-keyframes backgroundlines_middle_green /* Firefox */
{
0%,100%   {opacity: .5;}
25%  {opacity: .7;}
75%  {opacity: .10;}
}

@-webkit-keyframes backgroundlines_middle_green /* Safari and Chrome */
{
0%,100%   {opacity: .5;}
25%  {opacity: .7;}
75%  {opacity: .10;}
}

@-o-keyframes backgroundlines_middle_green /* Opera */
{
0%,100%   {opacity: .5;}
25%  {opacity: .7;}
75%  {opacity: .10;}
}

@keyframes backgroundlines_inner_green
{
0%,100%   {opacity: .10;}
25%  {opacity: .5;}
75%  {opacity: .7;}

}

@-moz-keyframes backgroundlines_inner_green /* Firefox */
{
0%,100%   {opacity: .10;}
25%  {opacity: .5;}
75%  {opacity: .7;}
}

@-webkit-keyframes backgroundlines_inner_green /* Safari and Chrome */
{
0%,100%   {opacity: .10;}
25%  {opacity: .5;}
75%  {opacity: .7;}
}

@-o-keyframes backgroundlines_inner_green /* Opera */
{
0%,100%   {opacity: .10;}
25%  {opacity: .5;}
75%  {opacity: .7;}
}