.background_line.hidden.outer {
animation:backgroundlines_hidden_outer 10s linear infinite;
-moz-animation:backgroundlines_hidden_outer 10 linear infinites; /* Firefox */
-webkit-animation:backgroundlines_hidden_outer 10s linear infinite; /* Safari and Chrome */
-o-animation:backgroundlines_hidden_outer 10s linear infinite; /* Opera */}
.background_line.hidden.middle {
animation:backgroundlines_hidden_middle 10s linear infinite;
-moz-animation:backgroundlines_hidden_middle 10s linear infinite; /* Firefox */
-webkit-animation:backgroundlines_hidden_middle 10s linear infinite; /* Safari and Chrome */
-o-animation:backgroundlines_hidden_middle 10s linear infinite; /* Opera */}
.background_line.hidden.inner {
animation:backgroundlines_hidden_inner 10s linear infinite;
-moz-animation:backgroundlines_hidden_inner 10s linear infinite; /* Firefox */
-webkit-animation:backgroundlines_hidden_inner 10s linear infinite; /* Safari and Chrome */
-o-animation:backgroundlines_hidden_inner 10s linear infinite; /* Opera */}
.logoline.hidden, .header_line{
animation:logoline_hidden 15s linear infinite;
-moz-animation:logoline_hidden 15s linear infinite; /* Firefox */
-webkit-animation:logoline_hidden 15s linear infinite; /* Safari and Chrome */
-o-animation:logoline_hidden 15s linear infinite; /* Opera */}









.background_line.hidden.inner:nth-child(3n+0), .background_line.hidden.middle:nth-child(3n+0), .background_line.hidden.outer:nth-child(3n+0){
animation-delay:.5s;
-webkit-animation-delay:.5s; /* Safari and Chrome */
-o-animation-delay:.5s;
-moz-animation-delay:.5s;
}
.background_line.hidden.inner:nth-child(3n+1), .background_line.hidden.middle:nth-child(3n+1), .background_line.hidden.outer:nth-child(3n+1){
animation-delay:1s;
-webkit-animation-delay:1s; /* Safari and Chrome */
-o-animation-delay:1s;
-moz-animation-delay:1s;
}
.background_line.hidden.inner:nth-child(3n+1), .background_line.hidden.middle:nth-child(3n+1), .background_line.hidden.outer:nth-child(3n+1){
animation-delay:1.5s;
-webkit-animation-delay:1.5s; /* Safari and Chrome */
-o-animation-delay:1.5s;
-moz-animation-delay:1.5s;
}


@keyframes logoline_hidden
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}

}

@-moz-keyframes logoline_hidden /* Firefox */
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}

}

@-webkit-keyframes logoline_hidden /* Safari and Chrome */
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}
}

@-o-keyframes logoline_hidden /* Opera */
{
0%,100%   {stroke:#52BC46;}
50%  {stroke:#3eea26;}
}




@keyframes backgroundlines_hidden_outer
{
0%,100%   {stroke:#5b5d5f;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#9ea3a9;}

}

@-moz-keyframes backgroundlines_hidden_outer /* Firefox */
{
0%,100%   {stroke:#5b5d5f;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#9ea3a9;}
}

@-webkit-keyframes backgroundlines_hidden_outer /* Safari and Chrome */
{
0%,100%   {stroke:#5b5d5f;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#9ea3a9;}
}

@-o-keyframes backgroundlines_hidden_outer /* Opera */
{
0%,100%   {stroke:#5b5d5f;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#9ea3a9;}
}


@keyframes backgroundlines_hidden_middle
{
0%,100%   {stroke:#c1c7d0;}
25%  {stroke:#5b5d5f;}
75%  {stroke:#9ea3a9;}

}

@-moz-keyframes backgroundlines_hidden_middle /* Firefox */
{
0%,100%   {stroke:#c1c7d0;}
25%  {stroke:#5b5d5f;}
75%  {stroke:#9ea3a9;}
}

@-webkit-keyframes backgroundlines_hidden_middle /* Safari and Chrome */
{
0%,100%   {stroke:#c1c7d0;}
25%  {stroke:#5b5d5f;}
75%  {stroke:#9ea3a9;}
}

@-o-keyframes backgroundlines_hidden_middle /* Opera */
{
0%,100%   {stroke:#c1c7d0;}
25%  {stroke:#5b5d5f;}
75%  {stroke:#9ea3a9;}
}

@keyframes backgroundlines_hidden_inner
{
0%,100%   {stroke:#9ea3a9;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#5b5d5f;}

}

@-moz-keyframes backgroundlines_hidden_inner /* Firefox */
{
0%,100%   {stroke:#9ea3a9;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#5b5d5f;}
}

@-webkit-keyframes backgroundlines_hidden_inner /* Safari and Chrome */
{
0%,100%   {stroke:#9ea3a9;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#5b5d5f;}
}

@-o-keyframes backgroundlines_hidden_inner /* Opera */
{
0%,100%   {stroke:#9ea3a9;}
25%  {stroke:#c1c7d0;}
75%  {stroke:#5b5d5f;}
}