.hidden2-san.quadrant:nth-child(1), .hidden2-san.quadrant:nth-child(4), .hidden2-san.quadrant:nth-child(7), .hidden2-san.quadrant:nth-child(10) {
	height: 100%;
	width: 33%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.hidden2-san.quadrant:nth-child(2), .hidden2-san.quadrant:nth-child(5), .hidden2-san.quadrant:nth-child(8), .hidden2-san.quadrant:nth-child(11) {
	height: 100%;
	width: 66%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.hidden2-san.quadrant:nth-child(3), .hidden2-san.quadrant:nth-child(6), .hidden2-san.quadrant:nth-child(9), .hidden2-san.quadrant:nth-child(12) {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.design-san.quadrant{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}



.quadrant.execute{ 
	opacity: 1;
	transition: opacity 0.4s ease-in;
    -ms-transition: opacity0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}

.quadrant.waiting{ 
	opacity: 0;
	transition: opacity 0.5s ease-in;
    -ms-transition: opacity0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
	
}


.hidden2-san.quadrant.execute:nth-child(1) {
	transition-delay:.2s;
	-webkit-transition-delay:.2s; /* Safari and Chrome */
	-o-transition-delay:.2s;
	-moz-transition-delay:.2s;
}
.hidden2-san.quadrant.execute:nth-child(2) {
	transition-delay:.4s;
	-webkit-transition-delay:.4s; /* Safari and Chrome */
	-o-transition-delay:.4s;
	-moz-transition-delay:.4s;
}
.hidden2-san.quadrant.execute:nth-child(3) {
	transition-delay:.6s;
	-webkit-transition-delay:.6s; /* Safari and Chrome */
	-o-transition-delay:.6s;
	-moz-transition-delay:.6s;
}
.hidden2-san.quadrant.execute:nth-child(4) {
	transition-delay:.8s;
	-webkit-transition-delay:.8s; /* Safari and Chrome */
	-o-transition-delay:.8s;
	-moz-transition-delay:.8s;
}
.hidden2-san.quadrant.execute:nth-child(5) {
	transition-delay:1.0s;
	-webkit-transition-delay:1.0s; /* Safari and Chrome */
	-o-transition-delay:1.0s;
	-moz-transition-delay:1.0s;
}
.hidden2-san.quadrant.execute:nth-child(6) {
	transition-delay:1.2s;
	-webkit-transition-delay:1.2s; /* Safari and Chrome */
	-o-transition-delay:1.2s;
	-moz-transition-delay:1.2s;
}
.hidden2-san.quadrant.execute:nth-child(7) {
	transition-delay:1.4s;
	-webkit-transition-delay:1.4s; /* Safari and Chrome */
	-o-transition-delay:1.4s;
	-moz-transition-delay:1.4s;
}
.hidden2-san.quadrant.execute:nth-child(8) {
	transition-delay:1.6s;
	-webkit-transition-delay:1.6s; /* Safari and Chrome */
	-o-transition-delay:1.6s;
	-moz-transition-delay:1.6s;
}
.hidden2-san.quadrant.execute:nth-child(9) {
	transition-delay:1.8s;
	-webkit-transition-delay:1.8s; /* Safari and Chrome */
	-o-transition-delay:1.8s;
	-moz-transition-delay:1.8s;
}



.logoline, .header_line{fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: 0;}

#hidden2.white, #navoptions.white{
	border-top: 0px !important;
	border-bottom: 0px !important;
}
#myname.white{
	color:#9ea3a9 !important;
}

a.title.white, a.title.white:hover, a.title.white:active, a.title.white:visited,  a.option.white, a.option.white:hover, a.option.white:active, a.option.white:visited {
	color: #9ea3a9 !important;
	opacity: 1;
	transition: opacity: 0.3s ease-in;
	-moz-transition: opacity: 0.3s ease-in;
	-webkit-transition: opacity: 0.3s ease-in;
	-o-transition: opacity: 0.3s ease-in;
	transition: color: 0.3s ease-in;
	-moz-transition: color: 0.3s ease-in;
	-webkit-transition: color: 0.3s ease-in;
	-o-transition: color: 0.3s ease-in;
}
a.title.white {
	font-weight: 400;
}
#greenContent.waiting{
	background-color: #000000;
	opacity: 0;
	z-index: -5;
	transition: opacity: 0.5s ease-in;
	-moz-transition: opacity: 0.5s ease-in;
	-webkit-transition: opacity: 0.5s ease-in;
	-o-transition: opacity: 0.5s ease-in;
}
#greenContent.execute {
	opacity: 1;
	
	background-color: #000000;
	transition: opacity: 0.5s ease-in;
	-moz-transition: opacity: 0.5s ease-in;
	-webkit-transition: opacity: 0.5s ease-in;
	-o-transition: opacity: 0.5s ease-in;

}




#finalbg.hidden2, #finalbg.green{opacity: 0;
transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    }    
    
    #finalbg.about, #finalbg.design, #finalbg.simple{opacity: 1;
transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    }   
    
.logolineanimation{fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: 1;}
