/*
	////////////////////////////
	///////default styles///////
	////////////////////////////
								 */

	/*//prep styles//*/
		body{
			overflow: hidden;
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}
	
	html{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	/*//height styles//*/
	
		html, body, #dynamicContent, #wrapper, #contentmetawrapper, #logometawrapper, #logopadderleft,  #logobackgroundcontainer, #logobackgroundposition, #logopadderright, #contentpadderleft, #contentwrapper, #contentpadderright, #mainContent, #quadrantcontainer, #quadrantpadderleft, #quadrantpadderright, #forelogowrapper{
			height: 100% !important;
		}
		#logowrapper{
			height: 100%;
		}
	 #greenwrapper, #normalwrapper{
			height: 95%;
		}
	 #hidden2Content{
			height: 75%;
		}

		#wholedesign{
			height: 80%;
		}

		#designnav{
			height: 30px;
		}
		#logobackgroundcontainer{
			width: inherit;
			height: inherit;
		}
		#hidden2{
			height: 50px;
		}
		#devicenav{
			height: 70px;
		}

		
		
		
	/*//width styles//*/
			
	 #mainContent, #designwrapper, #designnav, #greenwrapper, #normalwrapper, #hidden2, #designrow1, #designrow2, #devicenav{
			width: 100%;		
		}	
		#dynamicContent{
			width: 100%
		}
		#designwrapper, #designwrapper.out, #hidden2Content, #hidden2Content.out{
			width: 0px;
		}


		#logobackgroundcontainer{
			width: 100%;
		}
		#designnav{
			clear: both;
		}
		
		
		
	/*//position styles//*/
	
		#dynamicContent, #mainContent, #logoanimation, #definitions, #logobackgroundposition, #leftpadder, #rightpadder, #logo, #designwrapper, #greenwrapper, #normalwrapper, #green2, #normal, #hidden2, #simpleContent, #devicenav{
			position: absolute;		
		}




	/*//top, left, right, bottom styles//*/

		#dynamicContent, #mainContent, #logoanimation, #definitions{
			top: 0px;
		}
		#rightpadder{
			right: 0px;
		}
		#leftpadder, #dynamicContent{
			left: 0px;
		}
		#logo{
			left: 50%;
		}
		#normal, #green2{
			bottom: 0px;
		}
		#designwrapper{
			right: 0px;
		}

		#hidden2Content{
			left: -15px;
		}
		#devicenav{
			bottom: 0px;
			min-width: 100%;
			text-align: center;
			margin:0px;
			line-height: 155%;
			padding-top: 5px;
		}
		
	
	/*//z-index styles//*/
		#designwrapper, #hidden2Content{
			z-index: 6;
		}
		#mainContent {
			z-index: 5;
		}
		#dynamicContent {
			z-index: 0;
		}
		#svgContent {
			z-index: 0;
		}	
		#navoptions{
			z-index: 10;
		}	
		#normalwrapper{
			z-index: 0;
		}
		#simpleContent{
			z-index: 8;
		}
	
	
	
	/*//padding styles//*/
		#wrapper{
			padding-left: 0px;
		}

		#contentmetawrapper, #logometawrapper, #logobackgroundposition{
			padding-left: 0px;
			padding-right: 0px;
		}
		#contentpadderleft{
			padding-left: 0px;
		}
		#contentpadderright{
			padding-right: 0px;
		}
		#normalwrapper, #greenwrapper{
			padding-right: 15px;
		}
		#designnav{
			padding-top: 20px;
			margin-left: 0px;
		}
		#dynamicContent, #mainContent, #simpleContent{
			margin: 0px;
		}
	
	
	/*//display styles//*/
		#hidden2Content{
			overflow: scroll;
		}
		#logoanimation, #definitions{

		}
	
	
	/*//color styles//*/
		
		#hidden2Content, #designwrapper{
			background-color: white;
		}
		#devicenav.white{
		
		}
		#devicenav.black{
		
		}

		#logometawrapper{
			/*background-image: url(fallbackimage.png);*/
		}


		

	/*//svg styles//*/
		#logo_background, #body_background_right, #body_background_left{
			fill: transparent;
		}
		#detail, #innercircle, #outercircle, #bottomjaw, #topjaw, #circlejaw{background-color: transparent;}




	/*//text-align styles//*/
		#contentwrapper{
			text-align: center;
		}
		#frontcontent{
			text-align: center;
		}
		#normalwrapper, #greenwrapper, #simpleContent{
			text-align: right;
		}
		.fuckbootstrap.image{
			vertical-align: initial !important;
		}

		
		
	/*//font sizes//*/
		body{
			font-family: quicksand;
			font-weight: 400;
			font-size: 18px;
		}
				
		.green.in{
			color:#52BC46;
			opacity: .9;
			line-height: 110%;
			letter-spacing: 0px;
		}
		.green{
			line-height: 110%;
			color:#52BC46;
			opacity: .9;
		}
		
		.dark.green{
			line-height: 110%;
			color:#7ad86c!important;
			opacity: 1;
			letter-spacing: 1px;
		}
		.light.green{
			line-height: 110%;
			color:#52BC46;
			opacity: .7;
			letter-spacing: 1px;
		}
		.purple{
			line-height: 110%;
			color:#A745BF;
			opacity: .9;
		}		
	
		.dark.purple{
			font-weight: 400;
			line-height: 110%;
			color:#e36eff;
			opacity: .7;
			letter-spacing: 1px;
	
		}
		.light.purple{
			font-weight: 400;
			line-height: 110%;
			color:#e36eff;
			opacity: .3;
			letter-spacing: 1px;
		}
		.purple.in{
			font-weight: 400;
			line-height: 110%;
			color:#e36eff;
			opacity: .8;
		}
		.simple.purple.in{
			font-weight: 400;
			line-height: 110%;
			color:#A745BF;
			opacity: 1 !important;
		}
		.subhead, .content{
			letter-spacing: 1px !important;
		}
		.quadrant-title{
			letter-spacing: 2px !important;
		}
	
		.dark.white, .content.gray{
			color: #959a9e;
			letter-spacing: 1px;
		}
		.light.white{
			color: #c0c5c9;
			letter-spacing: 1px;
		}
		#myname.white{
			color:white!important;
		}	
		#myname.purple{
			color:#e36eff;!important;
		}	

		.period.green, .dot.green{
			color:#7ad86c;
			opacity: 1;
		}
		.period.purple, .dot.purple{
			color:#e36eff;
			opacity: 1;
		}
		.design-san{
			background-color: white;
		}
		
		
		#anna{
			background-image: url('../images/anna.jpg');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		#ipoquestlogo{
			background-image: url('../images/ipoquestlogo.jpg');
			backgrond-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		#ipoquestwebsite{
			background-image: url('../images/ipoquesstwebsite.gif');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		#growthstarslogo{
			background-image: url('../images/growthstars.gif');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		.period:hover, .dot:hover{
			cursor: pointer;
		}
		#simplebackground{
			padding-left: 10px;
			padding-right: 15px;
			padding-top: 7px;
			padding-bottom: 5px;
		}
		.background_line.inav {
				stroke-opacity: 0 !important;
		}
		
	  #email.zeroclipboard-is-hover { cursor: pointer; }
/*
	////////////////////////////
	//////responsive styles/////
	////////////////////////////
								 */
	
@media(max-width:767px){

	.design-san.quadrant, #designrow1, #designwrapper {
		height: 350px;
	}
	.design-san.sub-quadrant{
		pading-top: 0px;
		height: 290px;
		width: 320px;
	}
	#designrow1{
		width: 4000px;
	}
	.design-san.quadrant-title{
				margin-bottom: 10px;
		height: 20px;
	}
	.hidden2-san.quadrants{

		background: white;
		width: 2900px;
	}
	.hidden2-san.quadrant{
			vertical-align: center;
		padding-top:15px;
		padding-bottom:15px;
		background-color:white;
		z-index:6;
		height: 100%;
		width: 700px;
		position: relative;
		top: 0px;
		display: inline-block;

	}
	.hidden2-san.quadrant.visible-xs{
		display: inline-block !important;
	}
	.hidden2-san.quadrant.visible-sm, .hidden2-san.quadrant.visible-md, .hidden2-san.quadrant.visible-lg{
		display: none !important;
	}
	
		#hidden2Content.in, #designwrapper.in{
			width: 110% !important;
		}
		#navoptions{
			display: none;
		}
	
		#hidden2link, .hidden2.option.in, .design.fuckbootstrap.option.in{
			font-size: 16px !important;	
				
		}

		.period{
			line-height: 1%!important;
			font-size: 250%;
			
			margin-right: -5px;
			letter-spacing: -1px;
		}
		.dot{
			line-height: 1%;
			font-size: 300%;
			letter-spacing: -1px;
		}
		
		#normal, #green2{
			padding-right:20px;
			padding-top: 5px;
			padding-bottom: 4px;
		}
		body{
			font-size: 16px;
			line-height: 94% !important
		}
		#contentmetawrapper, #logometawrapper{
			position: absolute;
			top: 0px;
		}
		#contentwrapper{
			padding: 0px;
		}
		#logo{
			width: 460px;
			height: 650px;
			top: -175px;
			margin-left: -240px;
		}
		#myname{
			padding-top: 80px;
			opacity: 0;
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			font-size: 45px;
			line-height: 100%;
			color: #52BC46;
			letter-spacing: 3px;
		}
		.device{
			font-size: 30px;
			font-family: josefin sans;
			font-weight: 400;
		}
		.subdevice, .quadrant-title{
			font-size: 20px;
			font-family: josefin sans;
			font-weight: 400;
		}
		#myname.end{
			opacity: 1;
		}
		#navoptions { 
			
			/*fonts*/
			font-size: 20px;
			letter-spacing: 2px;
		}

		#greenwrapper, #normalwrapper {
			margin-left: 5px;
			top: 10px;
			max-height: 370px;
		}
		#simpleContent.out{
			max-height: 0px;
		}
		#simpleContent{
			top: 10px;
		}
		#simpleContent.in{

			max-height: 370px;
		}
		#simplebackground.white, #devicenav.white, #myname.white{
			background-color: rgba(255, 255, 255, 0.9); 
		}
		#simplebackground.black, #devicenav.black, #myname.black{
			background-color: rgba(0, 0, 0, 0.6); 
		}
		#designContent{
			padding-left: 5px;
			padding-right: 5px;
		}
		#hidden2{
			font-size: 20px;
			top: 390px;
			padding-bottom: 7px;
			padding-top: 10px;
		}

		
		#normal{
			background-color: rgba(255, 255, 255, 0.9); 
		}

		#green2{
			background-color: rgba(0,0,0, .6); 
		}
		.light.white, .dark.white{
			letter-spacing: 0px;
		}
		/*animations*/
			.background_line, .background_line.green, .background_line.white, .background_line.purple {
				animation:none !important;-moz-animation:none !important; -webkit-animation:none !important; -o-animation:none !important; 
				transition:none !important;-moz-transition:none !important; -webkit-transition:none !important; -o-transition:none !important; 
			}
		.background_line.inav.white, .background_line.inav.green, .background_line.inav.purple {
				stroke-opacity: 0 !important;
		}

			
			
		
		
		body {
			overflow-x: hidden; /* For Opera */
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
	}
	@media(min-width:768px){	
	
	#designwrapper{
		height: 60%;
	}
	
	.design-san.quadrant, #designrow1 {
		height: 100%;
	}
	.design-san.sub-quadrant{
		height: 90%;
		width: 420px;
	}
	.design-san.quadrant-title{
			margin-bottom: 15px;
		height: 5%;
	}
	#designrow1{
		width: 5500px;
	}
	
	.hidden2-san.quadrant.visible-md, .hidden2-san.quadrant.visible-sm{
		display: inline-block !important;
	}
	 .hidden2-san.quadrant.visible-xs, .hidden2-san.quadrant.visible-lg{
		display: none !important;
	}
	.hidden2-san.quadrants{

		overflow-y: hidden;
		background: white;
		width: 4300px;
	}
	.hidden2-san.quadrant{
			vertical-align: center;
		padding-top:15px;
		padding-bottom:15px;
		background-color:white;
		z-index:6;
		height: 100%;
		width: 1050px;
		position: relative;
		top: 0px;
		display: inline-block;

	}
		#hidden2Content.in, #designwrapper.in{
			width: 102%;
		}
		#logowrapper{
			top: 0px;
			height: 100%;
		}


		#hidden2{

			top: 750px;
			padding-bottom: 7px;
			padding-top: 10px;
		}
		#hidden2link, .hidden2.option.in, .design.fuckbootstrap.option.in{
			font-size: 30px !important;	
				
		}
		.period{
			line-height: 1%!important;
			font-size: 250%;
			margin-right: -12px;
			letter-spacing: -1px;
		}
		.dot{
			line-height: 1%;
			font-size: 300%;
			letter-spacing: -1px;
		}
		
		#normal, #green2, #simpleContent{
			padding-right: 10px;
			padding-top: 5px;
			padding-bottom: 4px;
		}
		body{
			font-size: 18px;
			line-height: 117%;
		}
		.option {
			font-family: josefin sans;
			font-size: 18px;
			letter-spacing: 2px;
		}
		#contentmetawrapper, #logometawrapper{
			position: absolute;
			top: 0px;
		}
		#logo{
			width: 700px;
			height: 1000px;
			top: -200px;
			margin-left: -375px;
		}
		#myname{
			padding-top: 20px;
			opacity: 1;
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			font-size: 50px;
			color: #52BC46;
			letter-spacing: 4px;
			line-height: 110%;
		}
		.device{
			font-size: 35px;
			font-family: josefin sans;
			font-weight: 400;
		}
		.subdevice, .quadrant-title{
			font-size: 25px;
			font-family: josefin sans;
			font-weight: 400;
		}
		#navoptions { 
display: none;

		}
		#greenwrapper, #normalwrapper, #simpleContent {
			top: 300px;
			max-height: 400px;
			padding-right: 40px;
			padding-left: 40px;
		}
				#simpleContent.out{
			max-height: 0px;
		}
		
		#simplebackground.white, #devicenav.white, #myname.white{
			background-color: rgba(255, 255, 255, 0.9); 
		}
		#simplebackground.black, #devicenav.black, #myname.black{
			background-color: rgba(0, 0, 0, 0.6); 
		}
		#simpleContent.in{
			max-height: 400px;
			margin-left: 0px;
		}

		
		.background_line.inav.white, .background_line.inav.green, .background_line.inav.purple {
				stroke-opacity: 0 !important;
		}
		.background_line.outer.green, .background_line.outer.purple, .background_line.middle.green, .background_line.middle.purple, background_line.inner.green, background_line.inner.purple, .logoline_green.green, .logoline.purple{
			transition: opacity 0.4s ease-in;-ms-transition: opacity 0.4s ease-in;-moz-transition: opacity 0.4s ease-in;-webkit-transition: opacity 0.4s ease-in;
			transition: stroke 0.3s ease-in;-ms-transition: stroke 0.3s ease-in;-moz-transition: stroke 0.3s ease-in;-webkit-transition: stroke 0.3s ease-in;
		}	

		#normal, #design{
			right: 40px;
			left: 30px;
			padding: 10px;
			background-color: rgba(255, 255, 255, 0.9); 
		}
		#green2{
			right: 40px;
			left: 30px;
			padding: 10px;
			background-color: rgba(0,0,0, 0.6); 
		}
		#simpleContent{
			right: 40px;
			left: 30px;
			padding: 10px;
		}
		.dot{
			line-height: 1%;
			font-size: 300%;
			letter-spacing: 0px;
			margin-left: -2px;
		}
		
		/*animations*/
		.inav.background_line.white.outer, .inav.background_line.green.outer {
			animation:none;-moz-animation:none; -webkit-animation:none; -o-animation:none; 
		}
		.inav.background_line.white.middle, .inav.background_line.green.middle {
			animation:none; -moz-animation:none; -webkit-animation:none; -o-animation:none; 
		}
		.inav.background_line.white.inner, .inav.background_line.green.inner {
			animation:none;-moz-animation:none; -webkit-animation:none; -o-animation:none; 
		}
		
		

		
		body {
			overflow-x: hidden; /* For Opera */
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
	}
	@media(min-width:992px){
	#myname.white, #myname.black{
		background-color: transparent;
	}
			#navoptions{

			display: block;
		}
		#designwrapper, #hidden2Content{
			padding-top: 1%;
			padding-bottom: 1%;
			margin-top: 15%;
			margin-bottom: 3%;
			margin-left: 0px;
			margin-right: 0px;
		}
		#hidden2link, .hidden2.option.in, .design.fuckbootstrap.option.in{
			font-size: 20px !important;	
				
		}
		#simplebackground.white{
			border: none;
			background-color: rgba(255, 255, 255, 0); 
		}
		#simplebackground.black{
			border: none;
			background-color: rgba(255, 255, 255, 0);  
		}
		
		#hidden2{
			top: 700px;
			background: transparent;
			border: 0px;
		}
		body{
			line-height: 120%;
			font-weight: 400;
		}
		.option {
			font-family: josefin sans;
			font-weight: 400;
			font-size: 18px;
			letter-spacing:4px;
		}

		body{
			font-size: 15px;
		}
		#contentmetawrapper, #logometawrapper{
			position: relative;
		}
		#logo{
			width: 480px;
			height: 700px;
			top: -20px;
			margin-left: -255px;
		}
		#myname{
			padding-top: 65px;
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			color: #52BC46;
			font-size: 40px;
			letter-spacing: 3px;
		}
		
		#navoptions { 
			padding-left: 0px; 
			padding-right: 0px;
			padding-bottom: 10px;
			padding-top: 10px;
		
			/*fonts*/
			font-size: 16px;
			letter-spacing: 3px;
		}
		#frontcontent{
			padding-left: 0px;
		}
		#greenwrapper, #normalwrapper, #simpleContent {
			top: 245px;	
			max-height: 290px;
		}
		#simpleContent.out{
			max-height: 0px;
		}
		#simpleContent.in{
			max-height: 290px;
		}

		#greenwrapper{
			top: 305px;
		}
		#green2, #normal, #simpleContent{
			border: 0px;
			right: 70px;
			left: 60px;
			padding: 0px;
			background-color: transparent;
		}

		
		
		/*//animations//*/
		.inav.background_line.outer.green, .inav.background_line.outer.purple {
			animation:backgroundlines_outer_green 10s linear infinite;-moz-animation:backgroundlines_outer_green 10s linear infinites; -webkit-animation:backgroundlines_outer_green 10s linear infinite; -o-animation:backgroundlines_outer_green 10s linear infinite; 
		}
		.inav.background_line.middle.green, .inav.background_line.middle.purple {
			animation:backgroundlines_middle_green 10s linear infinite;-moz-animation:backgroundlines_middle_green 10s linear infinite; -webkit-animation:backgroundlines_middle_green 10s linear infinite; -o-animation:backgroundlines_middle_green 10s linear infinite; 
		}
		.inav.background_line.inner.green, .inav.background_line.inner.purple {
			animation:backgroundlines_inner_green 10s linear infinite;-moz-animation:backgroundlines_inner_green 10s linear infinite; -webkit-animation:backgroundlines_inner_green 10s linear infinite; -o-animation:backgroundlines_inner_green 10s linear infinite; 
		}
		.inav.background_line.white.outer {
			animation:backgroundlines_white_outer 10s linear infinite;-moz-animation:backgroundlines_white_outer 10s linear infinites; -webkit-animation:backgroundlines_white_outer 10s linear infinite; -o-animation:backgroundlines_white_outer 10s linear infinite; 
		}
		.inav.background_line.white.middle {
			animation:backgroundlines_white_middle 10s linear infinite;-moz-animation:backgroundlines_white_middle 10s linear infinite; -webkit-animation:backgroundlines_white_middle 10s linear infinite; -o-animation:backgroundlines_white_middle 10s linear infinite; 
		}
		.inav.background_line.white.inner {
			animation:backgroundlines_white_inner 10s linear infinite;-moz-animation:backgroundlines_white_inner 10s linear infinite; -webkit-animation:backgroundlines_white_inner 10s linear infinite; -o-animation:backgroundlines_white_inner 10s linear infinite; 
		}
		
		.background_line.inner.green, .inav.background_line.inner.green {opacity: .8 !important; fill:none;stroke:#52BC46 !important;stroke-miterlimit:10; stroke-width: .7 !important; background-color: transparent;}
		.background_line.middle.green, .inav.background_line.middle.green{opacity: .6 !important; fill:none;stroke:#52BC46 !important;stroke-miterlimit:10; stroke-width: .7 !important; background-color: transparent;}
		.background_line.outer.green, .inav.background_line.outer.green {opacity: .4 !important; fill:none;stroke:#52BC46 !important;stroke-miterlimit:10; stroke-width: .7 !important; background-color: transparent; }

		.inav.background_line.inner.white {opacity: 1 !important; fill:none;stroke:#c1c7d0 !important; stroke-miterlimit:10; stroke-width: .5 !important; background-color: transparent;}
		.inav.background_line.middle.white {opacity: 1 !important; fill:none;stroke:#9ea3a9 !important;stroke-miterlimit:10; stroke-width: .5 !important; background-color: transparent;}
		.inav.background_line.outer.white {opacity: 1 !important; fill:none;stroke:#5b5d5f !important;stroke-miterlimit:10; stroke-width: .5 !important; background-color: transparent; }
		
		.inav.background_line.inner.purple{opacity: .8; fill:none;stroke:#A745BF;stroke-miterlimit:10; stroke-width: .7; background-color: transparent;}
		.inav.background_line.middle.purple{opacity: .6; fill:none;stroke:#A745BF;stroke-miterlimit:10; stroke-width: .7; background-color: transparent;}
		.inav.background_line.outer.purple {opacity: .4; fill:none;stroke:#A745BF;stroke-miterlimit:10; stroke-width: .7; background-color: transparent; }
		.background_line.inav.white, .background_line.inav.green, .background_line.inav.purple {
				stroke-opacity: 1 !important;
		}


	}


	@media(min-width:1285px){
	
	.hidden2-san.quadrant.visible-lg{
		display: inline-block !important;
	}
	 .hidden2-san.quadrant.visible-xs, .hidden2-san.quadrant.visible-md, .hidden2-san.quadrant.visible-sm{
		display: none !important;
	}
		#designwrapper, #hidden2Content{
			padding-top: 1%;
			padding-bottom: 1%;
			margin-top: 13%;
			margin-bottom: 5%;
			margin-left: 0px;
			margin-right: 0px;
		}
		body{
			font-size: 16px;
			font-weight: 400;
		}
		#contentmetawrapper, #logometawrapper{
			position: relative;
		}
		#logo{
			width: 600px;
			height: 850px;
			top: -20px;
			margin-left: -320px;
		}
		#myname{
			padding-top: 85px;
			
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			color:  #52BC46;
			font-size: 50px;
			letter-spacing: 5px;
		}
		
		#navoptions {
			padding-bottom: 10px;
			padding-top: 10px;
		
			/*fonts*/
			font-family: josefin sans;
			font-size: 19px;
			letter-spacing: 1px;
		}
		#frontcontent{
			padding-left: 0px;
		}
		#greenwrapper, #normalwrapper, #simpleContent {
			top: 245px;
			max-height: 290px;

		}
		#simpleContent.out{
			max-height: 0px;
		}
		#simpleContent.in{
			max-height: 290px;
		}
		#greenwrapper{
			top: 305px;
		}
		#green2, #normal, #simpleContent{
			right: 70px;
			left: 60px;
			padding: 0px;
			background-color: transparent;
		}
		


	}
	
	@media(min-width:1400px){
		#green2, #normal{
			right: 23%;
			left: 10%;
		}	
	}