/*
	////////////////////////////
	///////default styles///////
	////////////////////////////
								 */

	/*//prep styles//*/
		body{
			overflow: hidden;
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}
	
	/*//height styles//*/
	
		html, body, #wrapper, #contentmetawrapper, #logometawrapper, #logopadderleft, #logowrapper, #logobackgroundcontainer, #logobackgroundposition, #logopadderright, #contentpadderleft, #contentwrapper, #contentpadderright, #dynamicContent, #mainContent{
			height: 100% !important;
		}
		#designwrapper, #greenwrapper, #normalwrapper{
			height: 95%;
		}
		#wholedesign{
			height: 80%;
		}
		#designnav{
			height: 30px;
		}
		#logobackgroundcontainer{
			width: inherit;
			height: inherit;
		}
		#hidden2{
			height: 50px;
		}

		
		
		
	/*//width styles//*/
			
		#dynamicContent, #mainContent, #designwrapper, #designnav, #greenwrapper, #normalwrapper, #hidden2{
			width: 100%;		
		}	
		#logobackgroundcontainer{
			width: 100%;
		}
		#designnav{
			clear: both;
		}
		
		
		
	/*//position styles//*/
	
		#dynamicContent, #mainContent, #logoanimation, #definitions, #logobackgroundposition, #leftpadder, #rightpadder, #logo, #designwrapper, #greenwrapper, #normalwrapper, #green2, #normal, #hidden2{
			position: absolute;		
		}




	/*//top, left, right, bottom styles//*/
	
		#dynamicContent, #mainContent, #logoanimation, #definitions{
			top: 0px;
		}
		#rightpadder{
			right: 0px;
		}
		#leftpadder{
			left: 0px;
		}
		#logo{
			left: 50%;
		}
		#normal, #green2{
			bottom: 0px;
		}

		
	
	/*//z-index styles//*/
	
		#mainContent {
			z-index: 5;
		}
		#dynamicContent {
			z-index: 3;
		}
		#svgContent {
			z-index: 0;
		}	
		#navoptions{
			z-index: 10;
		}	
	
	
	
	/*//padding styles//*/
	
		#contentmetawrapper, #logometawrapper, #logobackgroundposition{
			padding-left: 0px;
			padding-right: 0px;
		}
		#contentpadderleft{
			padding-left: 0px;
		}
		#contentpadderright{
			padding-right: 0px;
		}
		#normalwrapper, #greenwrapper{
			padding-right: 15px;
		}
		#designnav{
			padding-top: 20px;
			margin-left: 0px;
		}
	
	
	/*//display styles//*/
	
		#logoanimation, #definitions{

		}
	
	
	/*//color styles//*/
		body {
			overflow-x: hidden; /* For Opera */
			-webkit-box-shadow:
			
			inset #5b5d5f 0 0 0 6px;
			-moz-box-shadow:
			
			inset #5b5d5f 0 0 0 6px;
			box-shadow:
			
			inset #5b5d5f 0 0 0 6px;
		}
		#logometawrapper{
			/*background-image: url(fallbackimage.png);*/
		}

		

	/*//svg styles//*/
		#logo_background, #body_background_right, #body_background_left{
			fill: transparent;
		}
		#detail, #innercircle, #outercircle, #bottomjaw, #topjaw, #circlejaw{background-color: transparent;}




	/*//text-align styles//*/
		#contentwrapper{
			text-align: center;
		}
		#frontcontent{
			text-align: center;
		}
		#normalwrapper, #greenwrapper{
			text-align: right;
		}
		
		
		
	/*//font sizes//*/
		body{
			font-family: quicksand;
			font-weight: 400;
			font-size: 18px;
		}
				
		.green.in{
			color:#52BC46;
			opacity: .9;
			line-height: 110%;
			letter-spacing: 0px;
		}
		.green{
			line-height: 110%;
			color:#52BC46;
			opacity: .9;
		}
		
		.dark.green{
			line-height: 110%;
			color:#7ad86c!important;
			opacity: 1;
			letter-spacing: 1px;
		}
		.light.green{
			line-height: 110%;
			color:#52BC46;
			opacity: .7;
			letter-spacing: 1px;
		}
		.purple{
			line-height: 110%;
			color:#A745BF;
			opacity: .9;
		}		
	
		.dark.purple{
			font-weight: 400;
			line-height: 110%;
			color:#e36eff;
			opacity: .7;
			letter-spacing: 1px;
	
		}
		.light.purple{
			font-weight: 400;
			line-height: 110%;
			color:#e36eff;
			opacity: .1;
			letter-spacing: 1px;
		}
		.purple.in{
			font-weight: 400;
			line-height: 110%;
			color:#e36eff;
			opacity: .8;
		}
	
	
		.dark.white{
			color: #959a9e;
			letter-spacing: 1px;
		}
		.light.white{
			color: #c0c5c9;
			letter-spacing: 1px;
		}
		#myname.white{
			color:white!important;
		}	
		#myname.purple{
			color:#e36eff;!important;
		}	

		.period.green{
			color:#7ad86c;
			opacity: 1;
		}
		.period.purple{
			color:#e36eff;
			opacity: 1;
		}
		.design-san{
			background-color: white;
		}
		
		
		#anna{
			background-image: url('../images/anna.jpg');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		#ipoquestlogo{
			background-image: url('../images/ipoquestlogo.jpg');
			backgrond-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		#ipoquestwebsite{
			background-image: url('../images/ipoquesstwebsite.gif');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		.growthstarslogo{
			background-image: url('../images/growthstars.gif');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}

/*
	////////////////////////////
	//////responsive styles/////
	////////////////////////////
								 */
	
	@media(max-width:767px){
		#navoptions{
			display: none;
		}
	
		#hidden2link, .hidden2.option.in, .design.fuckbootstrap.option.in{
			font-size: 20px !important;	
				
		}
		#designwrapper{
			margin-left: 0px;
			padding-left: 0px;
		}	
		.period{
			line-height: 1%!important;
			font-size: 250%;
			
			margin-right: -5px;
			letter-spacing: -1px;
		}
		
		#normal, #green2{
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 4px;
		}
		body{
			font-size: 14px;
			line-height: 100%;
		}
		#contentmetawrapper, #logometawrapper{
			position: absolute;
			top: 0px;
		}
		#contentwrapper{
			padding: 0px;
		}
		#logo{
			width: 460px;
			height: 590px;
			top: -125px;
			margin-left: -240px;
		}
		#myname{
			padding-top: 80px;
			
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			font-size: 45px;
			line-height: 100%;
			color: #52BC46;
			letter-spacing: 3px;
		}
		#navoptions { 
			
			/*fonts*/
			font-size: 20px;
			letter-spacing: 2px;
		}

		#designwrapper, #greenwrapper, #normalwrapper {
			top: 70px;
			max-height: 370px;
		}
		#designContent{
			padding-left: 5px;
			padding-right: 5px;
		}
		#hidden2{
			font-size: 20px;
			top: 420px;
			padding-bottom: 7px;
			padding-top: 10px;
		}
		
		.inav.green, .background_line.inav.green{
			stroke-width: 1.5 !important;
			opacity: 1 !important;
			stroke:#52BC46 !important;
		}
		.inav.white, .background_line.inav.white, .inav.background_line.white.inner, .inav.background_line.white.outer, .inav.background_line.white.middle{
			stroke-width: 1.5 !important;
			opacity: 1 !important;
			stroke: #c0c5c9 !important;
		}
		
		.inav.purple, .background_line.purple.inav{
			stroke: #e36eff !important;
			stroke-width: 1.5 !important;
			opacity: 1 !important;
		}
		#normal{

			left: 25px;
			border: 1px solid #52BC46;
			background-color: rgba(255, 255, 255, 0.9); 
		}

		#green2{
			left: 25px;
			background-color: rgba(0,0,0, .6); 
		}
		.light.white, .dark.white{
			letter-spacing: 0px;
		}
		/*animations*/
			.background_line {
				animation:none !important;-moz-animation:none !important; -webkit-animation:none !important; -o-animation:none !important; 
			}
			
			
		.grayscale {
			background-image: url('../images/seconduncoloredsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.colored {
			background-image: url('../images/secondcoloredsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.final {
			background-image: url('../images/secondfinalsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.trees {
			background-image: url('../images/thirdcoloredsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;	
		}
		.study1 {
			background-image: url('../images/study1small.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		
		
		body {
			overflow-x: hidden; /* For Opera */
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
	}
	@media(min-width:768px){	
		#navoptions{
			display: block;
		}
		#hidden2{

			top: 750px;
			padding-bottom: 7px;
			padding-top: 10px;
		}
		#hidden2link, .hidden2.option.in, .design.fuckbootstrap.option.in{
			font-size: 30px !important;	
				
		}
		.period{
			line-height: 1%!important;
			font-size: 250%;
			margin-right: -12px;
			letter-spacing: -1px;
		}
		
		#normal, #green2{
			padding-right: 10px;
			padding-top: 5px;
			padding-bottom: 4px;
		}
		body{
			font-size: 18px;
			line-height: 117%;
		}
		.option {
			font-family: josefin sans;
			font-size: 18px;
			letter-spacing: 2px;
		}
		#contentmetawrapper, #logometawrapper{
			position: absolute;
			top: 0px;
		}
		#logo{
			width: 700px;
			height: 850px;
			top: -70px;
			margin-left: -375px;
		}
		#myname{
			padding-top: 250px;
			
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			font-size: 50px;
			color: #52BC46;
			letter-spacing: 4px;
			line-height: 110%;
		}
		#navoptions { 
			padding-bottom: 10px;
			padding-top: 0px;
			
			/*fonts*/
			font-size: 21px;
			letter-spacing: 3px;

		}
		#designwrapper, #greenwrapper, #normalwrapper {
			top: 450px;
			max-height: 400px;
			padding-right: 40px;
			padding-left: 40px;
		}
		
		.inav.green, .background_line.inav.green{
			stroke-width: 1.5 !important;
			opacity: 1 !important;
			stroke:#52BC46 !important;
		}
		.inav.white, .background_line.inav.white, .inav.background_line.white.inner, .inav.background_line.white.outer, .inav.background_line.white.middle{
			stroke-width: 1.5 !important;
			opacity: 1 !important;
			stroke: #c0c5c9 !important;
		}
		.inav.purple, .background_line.purple.inav{
			stroke: #e36eff !important;
			stroke-width: 1.5 !important;
			opacity: 1 !important;
		}

		#normal, #design{
			right: 40px;
			left: 30px;
			padding: 10px;
			border: 1px solid #52BC46;
			background-color: rgba(255, 255, 255, 0.9); 
		}
		#green2{
			right: 40px;
			left: 30px;
			padding: 10px;
			background-color: rgba(0,0,0, 0.6); 
		}
		
		.period{
			line-height: 1%!important;
			font-size: 250%;
			margin-right: -5px;
		}
		
		/*animations*/
		.inav.background_line.white.outer, .inav.background_line.green.outer {
			animation:none;-moz-animation:none; -webkit-animation:none; -o-animation:none; 
		}
		.inav.background_line.white.middle, .inav.background_line.green.middle {
			animation:none; -moz-animation:none; -webkit-animation:none; -o-animation:none; 
		}
		.inav.background_line.white.inner, .inav.background_line.green.inner {
			animation:none;-moz-animation:none; -webkit-animation:none; -o-animation:none; 
		}
		
		
		.grayscale {
			background-image: url('../images/seconduncoloredsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.colored {
			background-image: url('../images/secondcoloredsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.final {
			background-image: url('../images/secondfinalsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.trees {
			background-image: url('../images/thirdcoloredsmall.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;	
		}
		.study1 {
			background-image: url('../images/study1small.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		
		body {
			overflow-x: hidden; /* For Opera */
			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
		}
	}
	@media(min-width:992px){
		#hidden2link, .hidden2.option.in, .design.fuckbootstrap.option.in{
			font-size: 20px !important;	
				
		}
		#hidden2{
			top: 700px;
			background: transparent;
			border: 0px;
		}
		body{
			line-height: 120%;
			font-weight: 400;
		}
		.option {
			font-family: josefin sans;
			font-weight: 400;
			font-size: 18px;
			letter-spacing:4px;
		}

		body{
			font-size: 15px;
		}
		#contentmetawrapper, #logometawrapper{
			position: relative;
		}
		#logo{
			width: 480px;
			height: 700px;
			top: -20px;
			margin-left: -255px;
		}
		#myname{
			padding-top: 65px;
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			color: #52BC46;
			font-size: 40px;
			letter-spacing: 3px;
		}
		
		#navoptions { 
			padding-bottom: 10px;
			padding-top: 10px;
		
			/*fonts*/
			font-size: 16px;
			letter-spacing: 3px;
		}
		#frontcontent{
			padding-left: 0px;
		}
		#designwrapper, #greenwrapper, #normalwrapper {
			top: 245px;	
			max-height: 290px;
		}
		#designwrapper{
			max-height: 430px;
		}
		#greenwrapper{
			top: 305px;
		}
		#green2, #normal{
			border: 0px;
			right: 70px;
			left: 60px;
			padding: 0px;
			background-color: transparent;
		}
		
		
		
		/*//animations//*/
		.inav.background_line.outer.green, .inav.background_line.outer.purple {
			animation:backgroundlines_outer_green 10s linear infinite;-moz-animation:backgroundlines_outer_green 10s linear infinites; -webkit-animation:backgroundlines_outer_green 10s linear infinite; -o-animation:backgroundlines_outer_green 10s linear infinite; 
		}
		.inav.background_line.middle.green, .inav.background_line.middle.purple {
			animation:backgroundlines_middle_green 10s linear infinite;-moz-animation:backgroundlines_middle_green 10s linear infinite; -webkit-animation:backgroundlines_middle_green 10s linear infinite; -o-animation:backgroundlines_middle_green 10s linear infinite; 
		}
		.inav.background_line.inner.green, .inav.background_line.inner.purple {
			animation:backgroundlines_inner_green 10s linear infinite;-moz-animation:backgroundlines_inner_green 10s linear infinite; -webkit-animation:backgroundlines_inner_green 10s linear infinite; -o-animation:backgroundlines_inner_green 10s linear infinite; 
		}
		.inav.background_line.white.outer {
			animation:backgroundlines_white_outer 10s linear infinite;-moz-animation:backgroundlines_white_outer 10s linear infinites; -webkit-animation:backgroundlines_white_outer 10s linear infinite; -o-animation:backgroundlines_white_outer 10s linear infinite; 
		}
		.inav.background_line.white.middle {
			animation:backgroundlines_white_middle 10s linear infinite;-moz-animation:backgroundlines_white_middle 10s linear infinite; -webkit-animation:backgroundlines_white_middle 10s linear infinite; -o-animation:backgroundlines_white_middle 10s linear infinite; 
		}
		.inav.background_line.white.inner {
			animation:backgroundlines_white_inner 10s linear infinite;-moz-animation:backgroundlines_white_inner 10s linear infinite; -webkit-animation:backgroundlines_white_inner 10s linear infinite; -o-animation:backgroundlines_white_inner 10s linear infinite; 
		}
		
		.background_line.inner.green, .inav.background_line.inner.green {opacity: .8 !important; fill:none;stroke:#52BC46 !important;stroke-miterlimit:10; stroke-width: .7 !important; background-color: transparent;}
		.background_line.middle.green, .inav.background_line.middle.green{opacity: .6 !important; fill:none;stroke:#52BC46 !important;stroke-miterlimit:10; stroke-width: .7 !important; background-color: transparent;}
		.background_line.outer.green, .inav.background_line.outer.green {opacity: .4 !important; fill:none;stroke:#52BC46 !important;stroke-miterlimit:10; stroke-width: .7 !important; background-color: transparent; }

		.inav.background_line.inner.white {opacity: 1 !important; fill:none;stroke:#c1c7d0 !important; stroke-miterlimit:10; stroke-width: .5 !important; background-color: transparent;}
		.inav.background_line.middle.white {opacity: 1 !important; fill:none;stroke:#9ea3a9 !important;stroke-miterlimit:10; stroke-width: .5 !important; background-color: transparent;}
		.inav.background_line.outer.white {opacity: 1 !important; fill:none;stroke:#5b5d5f !important;stroke-miterlimit:10; stroke-width: .5 !important; background-color: transparent; }
		
		.inav.background_line.inner.purple{opacity: .8; fill:none;stroke:#A745BF;stroke-miterlimit:10; stroke-width: .7; background-color: transparent;}
		.inav.background_line.middle.purple{opacity: .6; fill:none;stroke:#A745BF;stroke-miterlimit:10; stroke-width: .7; background-color: transparent;}
		.inav.background_line.outer.purple {opacity: .4; fill:none;stroke:#A745BF;stroke-miterlimit:10; stroke-width: .7; background-color: transparent; }
		
		.grayscale {
			background-image: url('../images/seconduncoloredmed.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.colored {
			background-image: url('../images/secondcolormed.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.final {
			background-image: url('../images/secondfinalmed.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.trees {
			background-image: url('../images/thirdcoloredmed.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;	
		}
		.study1 {
			background-image: url('../images/study1med.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		body {
			overflow-x: hidden; /* For Opera */
			-webkit-box-shadow:
			
			inset #5b5d5f 0 0 0 6px;
			-moz-box-shadow:
			
			inset #5b5d5f 0 0 0 6px;
			box-shadow:
			
			inset #5b5d5f 0 0 0 6px;
		}
	}


	@media(min-width:1285px){
		body{
			font-size: 16px;
			font-weight: 400;
			line-height: 93%;
		}
		#contentmetawrapper, #logometawrapper{
			position: relative;
		}
		#logo{
			width: 600px;
			height: 850px;
			top: -20px;
			margin-left: -320px;
		}
		#myname{
			padding-top: 85px;
			
			/*fonts*/
			font-family: josefin sans;
			font-weight: 400;
			color:  #52BC46;
			font-size: 50px;
			letter-spacing: 5px;
		}
		
		#navoptions {
			padding-bottom: 10px;
			padding-top: 10px;
		
			/*fonts*/
			font-family: josefin sans;
			font-size: 19px;
			letter-spacing: 1px;
		}
		#frontcontent{
			padding-left: 0px;
		}
		#designwrapper, #greenwrapper, #normalwrapper {
			top: 245px;
			max-height: 290px;

		}
		#designwrapper{
			max-height: 430px;
		}
		#greenwrapper{
			top: 305px;
		}
		#green2, #normal{
			right: 70px;
			left: 60px;
			padding: 0px;
			background-color: transparent;
		}
		
		.grayscale {
			background-image: url('../images/seconduncoloredlarge.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.colored {
			background-image: url('../images/secondcoloredlarge.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.final {
			background-image: url('../images/secondfinallarge.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}
		.trees {
			background-image: url('../images/thirdcoloredlarge.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;	
		}
		.study1 {
			background-image: url('../images/study1large.jpg');
			background-repeat: no-repeat;
			background-color: #5b5d5f;
			background-size: cover;
		}

	}
	
	@media(min-width:1400px){
		#green2, #normal{
			right: 23%;
			left: 10%;
		}	
	}