/*
	////////////////////////////   these are all the styles
	/////responsive styles//////   related to the responsiveness
	////////////////////////////   of the site. every style here
	////////////////////////////   is tied to a max or min width
*/


	@media(max-width:767px){
	
		/*//navigation styles//*/
			#navoptions{
				display: none;
			}
			#myname{
				padding-top: 80px;
				opacity: 0;
				
				/*fonts*/
				font-family: josefin sans;
				font-weight: 400;
				font-size: 45px;
				line-height: 100%;
				color: #52BC46;
				letter-spacing: 3px;
			}
			
		
		/*//major positional styles//*/
			#contentmetawrapper, #logometawrapper{
				position: absolute;
				top: 0px;
			}	
			#contentwrapper{
				padding: 0px;
			}
			#logo{
				width: 460px;
				height: 650px;
				top: -175px;
				margin-left: -240px;
			}
			#compassrose{
				height: 450px;
				width: 460px;
				margin-left: -175px;
				top: -20px;
			}
			
		/*//text styles//*/

			body{
				font-size: 16px;
				line-height: 94% !important
			}
			.device{
				font-size: 30px;
				font-family: josefin sans;
				font-weight: 400;
			}
			.subdevice, .quadrant-title{
				font-size: 20px;
				font-family: josefin sans;
				font-weight: 400;
			}
			.light.white, .dark.white{
				letter-spacing: 0px;
			}
			.dot{
				margin-left: -4px;
			}
			
			
		/*//svg styles//*/
			.background_line, .background_line.green, .background_line.white, .background_line.purple {
				animation:none !important;
				-moz-animation:none !important; 
				-webkit-animation:none !important; 
				-o-animation:none !important; 
				
				transition:none !important;
				-moz-transition:none !important; 
				-webkit-transition:none !important; 
				-o-transition:none !important; 
			}
			.background_line.inav.white, .background_line.inav.green, .background_line.inav.purple {
				stroke-opacity: 0 !important;
			}
			
			
		/*// horizontal sections //*/	
			.fear, .final, .study1, .trees{
				width: 700px;
			}
			.design-san.content{
				font-size: 13px;
			}
			#designContent{
				padding-left: 5px;
				padding-right: 5px;
			}
			.design-san.quadrant, #designrow1, #designwrapper {
				height: 350px;
			}
			.design-san.sub-quadrant{
				padding-top: 0px;
				height: 290px;
				width: 320px;
			}
			#designrow1{
				width: 3000px;	
				padding-left: 20px;
			}
			.design-san.quadrant-title{
				margin-bottom: 10px;
				height: 20px;
			}
			.hidden2-san.quadrants{
				padding-left: 30px;
				background: white;
				width: 3100px;
			}
			.hidden2-san.quadrant.visible-xs{
				display: inline-block !important;
			}
			.hidden2-san.quadrant.visible-sm, .hidden2-san.quadrant.visible-md, .hidden2-san.quadrant.visible-lg{
				display: none !important;
			}
			#hidden2section.in, #designwrapper.in{
				width: 110% !important;
			}		
			
		/*// vertical sections//*/
			#normal, #green2{
				padding-right:20px;
				padding-top: 5px;
				padding-bottom: 4px;
			}
			#greenwrapper, #normalwrapper {
				margin-left: 5px;
				top: 10px;
				max-height: 370px;
			}
			#simpleContent.out{
				max-height: 0px;
			}
			#simpleContent{
				top: 10px;
			}
			#simpleContent.in{
				max-height: 370px;
			}
			#simplebackground.white, #devicenav.white, #myname.white, #normal{
				background-color: rgba(255, 255, 255, 0.9); 
			}
			#simplebackground.black, #devicenav.black, #myname.black, #green2{
				background-color: rgba(0, 0, 0, 0.6); 
			}	
	}
	
	


	
	@media(min-width:768px){	
	
		/*//navigation styles//*/
			#navoptions { 
				display: none;
			}
			#myname{
				padding-top: 20px;
				opacity: 1;
				
				/*fonts*/
				font-family: josefin sans;
				font-weight: 400;
				font-size: 50px;
				color: #52BC46;
				letter-spacing: 4px;
				line-height: 110%;
			}
			
			
		/*//major positional styles//*/
			#logowrapper{
				top: 0px;
				height: 100%;
			}
			#logo{
				width: 700px;
				height: 1000px;
				top: -200px;
				margin-left: -375px;
			}
			#compassrose{
				height: 800px;
				width: 700px;
				margin-left: -273px;
				top: 20px;
			}
			#contentmetawrapper, #logometawrapper{
				position: absolute;
				top: 0px;
			}
			body {
				overflow-x: hidden; /* For Opera */
			}
			
				
		/*//text styles//*/
			body{
				font-size: 18px;
				line-height: 117%;
			}
			.device{
				font-size: 35px;
				font-family: josefin sans;
				font-weight: 400;
			}
			.subdevice, .quadrant-title{
				font-size: 25px;
				font-family: josefin sans;
				font-weight: 400;
			}
			.dot{
				margin-left: -3px;
				margin-right: 2px;
			}
			
		
		/*//svg styles//*/
			.background_line.inav.white, .background_line.inav.green, .background_line.inav.purple {
				stroke-opacity: 0 !important;
			}
			.background_line.outer.green, .background_line.outer.purple, .background_line.middle.green, .background_line.middle.purple, background_line.inner.green, background_line.inner.purple, .logoline_green.green, .logoline.purple{
				transition: opacity 0.4s ease-in;
				-ms-transition: opacity 0.4s ease-in;
				-moz-transition: opacity 0.4s ease-in;
				-webkit-transition: opacity 0.4s ease-in;
				
				transition: stroke 0.3s ease-in;
				-ms-transition: stroke 0.3s ease-in;
				-moz-transition: stroke 0.3s ease-in;
				-webkit-transition: stroke 0.3s ease-in;
			}	
			.background_line.inner.green, .inav.background_line.inner.green {
				opacity: .8 !important; 
				fill:none;
				stroke:#52BC46 !important;
				stroke-miterlimit:10; 
				stroke-width: .7 !important; 
				background-color: transparent;
			}
			.background_line.middle.green, .inav.background_line.middle.green{
				opacity: .6 !important; 
				fill:none;
				stroke:#52BC46 !important;
				stroke-miterlimit:10; 
				stroke-width: .7 !important; 
				background-color: transparent;
			}
			.background_line.outer.green, .inav.background_line.outer.green {
				opacity: .4 !important; 
				fill:none;
				stroke:#52BC46 !important;
				stroke-miterlimit:10; 
				stroke-width: .7 !important; 
				background-color: transparent; 
			}
			.inav.background_line.inner.white {
				opacity: 1 !important; 
				fill:none;
				stroke:#c1c7d0 !important; 
				stroke-miterlimit:10; 
				stroke-width: .5 !important; 
				background-color: transparent;
			}
			
			
			
		/*//vertical sections//*/
			#normal, #green2, #simpleContent{
				padding-right: 10px;
				padding-top: 5px;
				padding-bottom: 4px;
			}
			#greenwrapper, #normalwrapper, #simpleContent {
				top: 300px;
				max-height: 400px;
				padding-right: 40px;
				padding-left: 40px;
			}
			#simpleContent.out{
				max-height: 0px;
			}
			#simplebackground.white, #devicenav.white, #myname.white{
				background-color: rgba(255, 255, 255, 0.9); 
			}
			#simplebackground.black, #devicenav.black, #myname.black{
				background-color: rgba(0, 0, 0, 0.6); 
			}
			#simpleContent.in{
				max-height: 400px;
				margin-left: 0px;
			}
			#normal, #design{
				right: 40px;
				left: 30px;
				padding: 10px;
				background-color: rgba(255, 255, 255, 0.9); 
			}
			#green2{
				right: 40px;
				left: 30px;
				padding: 10px;
				background-color: rgba(0,0,0, 0.6); 
			}
			#simpleContent{
				right: 40px;
				left: 30px;
				padding: 10px;
			}	
			
			
			
		/*// horizontal sections //*/	
			.fear, .final, .study1, .trees{
				width: 1050px;
			}
			#hidden2{
				top: 750px;
				padding-bottom: 7px;
				padding-top: 10px;
			}
			#designwrapper{
				height: 60%;
			}
			.design-san.quadrant, #designrow1 {
				height: 100%;
			}
			.design-san.sub-quadrant{
				height: 90%;
				width: 420px;
			}
			.design-san.quadrant-title{
				margin-bottom: 15px;
				height: 5%;
			}
			#designrow1{
				width: 3850px;
			}
			.hidden2-san.quadrant.visible-md, .hidden2-san.quadrant.visible-sm{
				display: inline-block !important;
			}
			 .hidden2-san.quadrant.visible-xs, .hidden2-san.quadrant.visible-lg{
				display: none !important;
			}
			.hidden2-san.quadrants{
				overflow-y: hidden;
				background: white;
				width: 4400px;
			}
			#hidden2section.in, #designwrapper.in{
				width: 102%;
			}
			.design-san.content{
				font-size: 16px;
			}
		
	}
	
	

	
	@media(min-width:992px){	
	
		/*//navigation styles//*/
			#navoptions{
				display: block;
			}
			#myname.white, #myname.black{
				background-color: transparent;
			}
			#myname{
				padding-top: 65px;
				/*fonts*/
				font-family: josefin sans;
				font-weight: 400;
				color: #52BC46;
				font-size: 40px;
				letter-spacing: 3px;
			}
			
			
			
		/*//major positional styles//*/	
			#contentmetawrapper, #logometawrapper{
				position: relative;
			}
			#logo{
				width: 480px;
				height: 700px;
				top: -20px;
				margin-left: -255px;
			}
			#compassrose{
				display: none;
			}
		
		
		/*//text styles//*/
			body{
				line-height: 120%;
				font-weight: 400;
				font-size: 15px;
			}	
			
			
		
			
		/*//svg styles//*/
			.inav.background_line.middle.white {
				opacity: 1 !important; 
				fill:none;
				stroke:#9ea3a9 !important;
				stroke-miterlimit:10; 
				stroke-width: .5 !important; 
				background-color: transparent;
			}
			.inav.background_line.outer.white {
				opacity: 1 !important; 
				fill:none;
				stroke:#5b5d5f !important;
				stroke-miterlimit:10; 
				stroke-width: .5 !important; 
				background-color: transparent; 
			}
			.inav.background_line.inner.purple{
				opacity: .8; 
				fill:none;
				stroke:#A745BF;
				stroke-miterlimit:10; 
				stroke-width: .7; 
				background-color: transparent;
			}
			.inav.background_line.middle.purple{
				opacity: .6; 
				fill:none;
				stroke:#A745BF;
				stroke-miterlimit:10; 
				stroke-width: .7; 
				background-color: transparent;
			}
			.inav.background_line.outer.purple {
				opacity: .4; 
				fill:none;
				stroke:#A745BF;
				stroke-miterlimit:10; 
				stroke-width: .7; 
				background-color: transparent; 
			}
			.background_line.inav.white, .background_line.inav.green, .background_line.inav.purple {
				stroke-opacity: 1 !important;
			}
			.inav.background_line.outer.green, .inav.background_line.outer.purple {
				animation:backgroundlines_outer_green 10s linear infinite;
				-moz-animation:backgroundlines_outer_green 10s linear infinites; 
				-webkit-animation:backgroundlines_outer_green 10s linear infinite; 
				-o-animation:backgroundlines_outer_green 10s linear infinite; 
			}
			.inav.background_line.middle.green, .inav.background_line.middle.purple {
				animation:backgroundlines_middle_green 10s linear infinite;
				-moz-animation:backgroundlines_middle_green 10s linear infinite; 
				-webkit-animation:backgroundlines_middle_green 10s linear infinite; 
				-o-animation:backgroundlines_middle_green 10s linear infinite; 
			}
			.inav.background_line.inner.green, .inav.background_line.inner.purple {
				animation:backgroundlines_inner_green 10s linear infinite;
				-moz-animation:backgroundlines_inner_green 10s linear infinite; 
				-webkit-animation:backgroundlines_inner_green 10s linear infinite; 
				-o-animation:backgroundlines_inner_green 10s linear infinite; 
			}
			.inav.background_line.white.outer {
				animation:backgroundlines_white_outer 10s linear infinite;
				-moz-animation:backgroundlines_white_outer 10s linear infinites; 
				-webkit-animation:backgroundlines_white_outer 10s linear infinite; 
				-o-animation:backgroundlines_white_outer 10s linear infinite; 
			}
			.inav.background_line.white.middle {
				animation:backgroundlines_white_middle 10s linear infinite;
				-moz-animation:backgroundlines_white_middle 10s linear infinite; 
				-webkit-animation:backgroundlines_white_middle 10s linear infinite; 
				-o-animation:backgroundlines_white_middle 10s linear infinite; 
			}
			.inav.background_line.white.inner {
				animation:backgroundlines_white_inner 10s linear infinite;
				-moz-animation:backgroundlines_white_inner 10s linear infinite;
				-webkit-animation:backgroundlines_white_inner 10s linear infinite; 
				-o-animation:backgroundlines_white_inner 10s linear infinite; 
			}
		
		
		
		/*//vertical sections//*/			
			#simplebackground.white{
				border: none;
				background-color: rgba(255, 255, 255, 0); 
			}
			#simplebackground.black{
				border: none;
				background-color: rgba(255, 255, 255, 0);  
			}
			#hidden2{
				top: 700px;
				background: transparent;
				border: 0px;
			}
			#frontcontent{
				padding-left: 0px;
			}
			#greenwrapper, #normalwrapper, #simpleContent {
				top: 245px;	
				max-height: 290px;
			}
			#simpleContent.out{
				max-height: 0px;
			}
			#simpleContent.in{
				max-height: 290px;
			}
			#greenwrapper{
				top: 305px;
			}
			#green2, #normal, #simpleContent{
				border: 0px;
				right: 70px;
				left: 60px;
				padding: 0px;
				background-color: transparent;
			}
		
		/*// horizontal sections //*/	
			.fear, .final, .study1, .trees{
				width: 1050px;
			}
			.design-san.content{
				font-size: 15px;
			}
			#designwrapper, #hidden2section{
				padding-top: 1%;
				padding-bottom: 1%;
				margin-top: 15%;
				margin-bottom: 3%;
				margin-left: 0px;
				margin-right: 0px;
			}
		
		

	}
	
		
		
	
	@media(min-width:1285px){	
		/*//navigation styles//*/
			#myname{
				padding-top: 85px;
			
				/*fonts*/
				font-family: josefin sans;
				font-weight: 400;
				color:  #52BC46;
				font-size: 50px;
				letter-spacing: 5px;
			}
			#navoptions {
				padding-bottom: 10px;
				padding-top: 10px;
			
				/*fonts*/
				font-family: josefin sans;
				font-size: 19px;
				letter-spacing: 1px;
			}
		
		/*//major positional styles//*/
			.hidden2-san.quadrant.visible-lg{
				display: inline-block !important;
			}	
		 	.hidden2-san.quadrant.visible-xs, .hidden2-san.quadrant.visible-md, .hidden2-san.quadrant.visible-sm{
				display: none !important;
			}	
			#logo{
				width: 600px;
				height: 850px;
				top: -20px;
				margin-left: -320px;
			}
			
		
		/*//text styles//*/	
			body{
				font-size: 16px;
				font-weight: 400;
			}			
		
		
			
		/*//vertical sections//*/
			#frontcontent{
				padding-left: 0px;
			}
			#greenwrapper, #normalwrapper, #simpleContent {
				top: 245px;
				max-height: 290px;
			}
			#simpleContent.out{
				max-height: 0px;
			}
			#simpleContent.in{
				max-height: 290px;
			}
			#greenwrapper{
				top: 305px;
			}
			#green2, #normal, #simpleContent{
				right: 70px;
				left: 60px;
				padding: 0px;
				background-color: transparent;
			}	
			
				
				
		/*// horizontal sections //*/	
		
			#designwrapper, #hidden2section{
				padding-top: 1%;
				padding-bottom: 1%;
				margin-top: 13%;
				margin-bottom: 5%;
				margin-left: 0px;
				margin-right: 0px;
			}
			.hidden2-san.quadrants{
				width: 6200px;
			}
			.fear, .final, .study1, .trees{
				width: 1500px;
			}
		
	}