.logo_background_container {background-color: transparent; fill: url(#logo_background); stroke: none; width: 100%;}
.body_background_left_container {fill: url(#body_background_left);background-color:transparent;stroke: none;}
.body_background_right_cointainer {fill: url(#body_background_right);background-color:transparent;stroke: none;}


.shutter {	fill: #ffffff; stroke-miterlimit: 10; stroke-width: .5;}


.front_light{/*fill:#FFFFFF;*/fill:url(#front_menu_gradient);stroke:#A745BF;stroke-width:1;stroke-miterlimit:10;stroke-linecap="butt"}
.front_dark{/*fill:#F2F2F2;*/fill:url(#front_menu_gradient);;stroke:#A745BF;stroke-width:1;stroke-miterlimit:10;stroke-linecap="butt"}
.back_dark{/*fill:#EAEAEA;*/fill:url(#back_menu_gradient);stroke:#A745BF;stroke-width:0.5;stroke-miterlimit:10;stroke-linecap="butt"}
.back_light{/*fill:#EEEEEE;*/fill:transparent;stroke:#A745BF;stroke-width:1;stroke-miterlimit:10;stroke-linecap="butt"}
.front_soft_dark{/*fill:#F2F2F2;*/fill:transparent;stroke:#A745BF;stroke-width:1;stroke-miterlimit:10;stroke-linecap="butt"}
.front_soft_light{/*fill:#FFFFFF;*/fill:url(#navigation_gradient);;stroke:#A745BF;stroke-width:1;stroke-miterlimit:10;stroke-linecap="butt"}
.header_line_thin{fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: 1;}
.header_line_medium{fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: 1.5;}


.logolineFront{
fill:none;stroke:#9ea3a9;;stroke-miterlimit:10; stroke-width: 1; stroke-opacity: 0;
}
.logolineanimation{fill:none;stroke:#ffffff;stroke-miterlimit:10; stroke-width: 1;}
.background_line.inner {fill:none;stroke:#c1c7d0;stroke-miterlimit:10; stroke-width: .5; background-color: transparent;}
.background_line.middle {fill:none;stroke:#9ea3a9;stroke-miterlimit:10; stroke-width: .5; background-color: transparent;}
.background_line.outer {fill:none;stroke:#5b5d5f;stroke-miterlimit:10; stroke-width: .5; background-color: transparent; }


.background_line.inner.green {fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: .5; background-color: transparent;}
.background_line.middle.green {fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: .5; background-color: transparent;}
.background_line.outer.green {fill:none;stroke:#52BC46;stroke-miterlimit:10; stroke-width: .5; background-color: transparent; }




#detail, #innercircle, #outercircle, #bottomjaw, #topjaw, #circlejaw{background-color: transparent;}
#svggroup {transform-origin: center center;-ms-transform-origin: center center; /* IE 9 */-webkit-transform-origin: center center; /* Safari and Chrome */-moz-transform-origin: center center; /* Firefox */-o-transform-origin: center center; /* Opera */}
#whitebg{
	fill: #52bc46;
	opacity: 0;
}
.fadeinline {
	opacity: 0;
}
#greenbg{
	fill: url(#fadeinlogo);
}
#linework{
	opacity: 0;
}
#finalbg{
	fill: white;
	opacity: 0;
}
#name_background_1, #name_background_2 {
	z-index: -5;
	position: fixed;
	height: 100%;
	width: 11%;
	min-width: 107px;
}