.subscription__wrapper {
  .subscription__button {
    margin-right: 10px;
    padding: 5px 8px;
    .subscribed {
      color: rgba(100,155,100,0.5) !important;
    }
  }

  .subscription__input {
    width: 150px;

  }
  input {
    box-shadow: none !important;
    -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
    outline: none;
  }
  .error {
    color: rgba(200,100,100,0.6);
  }
  .invalid .subscription__input {
    border-color: rgba(200,100,100,0.6);
  }
  .subscription__error {
    margin-top: 5px;
  }

  .subscription__form {
    flex-direction: column;
  }

  .subscription__cancel {
    width: 20px;
    &:hover {
      color: rgba(200,100,100,0.6) !important;
    }
    &.disabled {
      &:hover {
        color: rgba(100,100,100,0.6) !important;
      }
    }
  }
  .subscription__confirm {
    width: 50px;
    letter-spacing: 0.0px;
    &:hover {
      color: rgba(100,200,100,0.6) !important;
    }
    &.disabled {
      &:hover {
        color: rgba(100,100,100,0.6) !important;
      }
    }
  }
  .subscription__option {
    margin: 0px 2px;
    align-content: center;
    justify-content: center;
  }
}
