.component__container {
	flex: 1;
	flex-direction: column;
	&.full_bleed {
		position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	}
}

.component__loading {
	justify-content: center;
	align-items: center;
}
