

.contact__wrapper {
	flex-direction: row;
  justify-content: center;
  align-items: flex-end;

	.article__wrapper {
		flex-direction: column;
		height: 140px;
    justify-content: flex-end;
	}
	.article__title {
		font-size: 2.25rem;
		flex-basis: 45px;
		color: rgba(100,100,100,0.5);
	}
	.article__body {
			overflow: hidden;
			flex: 0;
			padding: 11px 8px;
			p {
				display: flex;
				padding-top: 11px;
			}
		&.active {
			flex-basis: 100px;
			flex: 1;
		}
	}
}
.contact__information {
	padding: 0 10px 0 0;
}

.contact__links {
	user-select: none;
  align-items: flex-end;

	.link__media {
		position: relative;
		margin-right: 10px;
		padding: 0px 4px;
		&:after {
			content: 'copied';
			position: absolute;
			right: -50px;
			opacity: 0;
		}
		&.copied:after {
			animation: fadeIn 1s;
		}
		&.copied_again:after {
			animation: otherFade 1s;
		}
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes otherFade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
