.line__navigation {
	flex: 1;
	background: rgba(220,220,220,0.5);
	z-index: 1;
}
.navigation__wrapper {
  height: 100%;
  width: 100%;	
	flex-direction: row;  	
}
.line__navigation--left, 
.line__navigation--right {
	flex: 1;
	cursor: pointer;
	margin: auto;
	font-size: 20px;
	justify-content: center;
}
.line__link {
	justify-content: center;
	margin: auto;
}
.line__navigation--center {
	flex-basis: 90%;
	flex-shrink: 0;
	flex-direction: column;
}
.line__navigation--back {
	flex: 1;
}
.line {
	flex: 1;
	border: 1px solid black;
	transition: flex 0.4s;
	&.active {
		flex: 5;
	}
	&.inactive {
		flex: 0;
	}
}