.line__navigation {
	flex: 1;
	background: rgba(220,220,220,0.5);
	z-index: 1;
}
.navigation__wrapper {
  height: 100%;
  width: 100%;	
	flex-direction: column;
}

.line__link {
	justify-content: center;
	margin: auto;
}

.line__navigation--back {
	flex: 1;
}
.line__wrapper {
	flex: 1;
	transition: flex 0.4s;	
	border: 1px solid black;	
	&.active {
		flex: 9;
	}
	&.inactive {
		flex: 0;
	}
	&.back {
		z-index: 5;
	}	
}
.line {
	flex: 1;
}