.piece__wrapper {
  flex-direction: column;
}
.piece__meta {
  padding: 50px 10px;
  width: 200px;
  &, * {
    flex-direction: column;
  }
}

.piece__wrapper {
  justify-content: flex-end;
  align-items: center;
  width: 435px;
  height: 720px;
}

.piece__collection--wrapper {
  padding: 8px 11px;
  user-select: none;
  width: 0px;
  overflow: hidden;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
  &.active {
    width: 200px;
  }
}
.piece__collection {
  padding-left: 11px;
  width: 189px;
  .article__title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .article__body {
    line-height: 1.2em;
  }
}
