.piece__container {
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.piece__container .piece__collection--wrapper {
  margin-bottom: 10px;
  max-width: 400px;
  padding: 10px;
  display: block;
  user-select: none;
  -webkit-transition: width 0.3s;
  /* Safari */
  transition: width 0.3s;
}

.piece__controls {
  justify-content: center;
}

.piece__left {
  flex-shrink: 0;
}

.piece__right {
  margin-top: 40px;
  display: none;
}
.piece__right.visible {
    display: flex;
}

.piece__left, .piece__right {
  flex-direction: column;
}

.piece__wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
