div, p {
	font-family: 'Arvo', serif;
	font-weight: 400;
}
strong {
	font-family: 'Arvo', sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Josefin Sans', sans-serif !important;
	font-weight: 400 !important;
}