.piece__meta, .piece__meta * {
  flex-direction: column; }

  @media (max-width: 600px) {
    .piece__content canvas {
      width: 100vw !important;
      height: 100vw !important;
      max-width: 100%;
      max-height: 100%;
  }
  .piece__content svg {
    width: 100vw !important;
    height: 100vw !important;
    max-width: 100%;
    max-height: 100%;
  }
}
