.main__navigation {
  background: rgba(230, 230, 230, 0.5);
  width: 100%;
  height: 30px;
  flex-direction: row;
  z-index: 1; }
.view__loading {
  flex: 1; }

.view__container {
  width: 100%; }
  .view__container.full_bleed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.view__center {
  width: 90%; }

.view__left, .view__right {
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 5%;
  cursor: pointer; }
.main__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c8e6ff;
  z-index: 0; }
.line__navigation {
  flex: 1;
  background: rgba(220, 220, 220, 0.5);
  z-index: 1; }

.navigation__wrapper {
  height: 100%;
  width: 100%;
  flex-direction: column; }

.line__link {
  justify-content: center;
  margin: auto; }

.line__navigation--back {
  flex: 1; }

.line {
  flex: 1;
  border: 1px solid black;
  transition: flex 0.4s; }
  .line.active {
    flex: 9; }
  .line.inactive {
    flex: 0; }
  .line.back {
    z-index: 5; }
.component__container {
  flex: 1;
  cursor: pointer; }
  .component__container.full_bleed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
html, body, #mount {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #EEEEEE;
  border: 0;
  padding: 0;
  margin: 0; }

.app, .app * {
  display: flex; }

.app, .app .main {
  flex-direction: column;
  position: relative;
  flex: 1;
  height: 100%;
  width: 100%; }
