.list__link {
  justify-content: center;
}

.list__navigation--back {
  flex: 1;
}

.list__wrapper {
  flex: 1;
}

.list__container {
  width: 100%;
  padding-left: 30px;
  max-width: 100%;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.list {
  flex: 1;
}

.list__entries {
  // width: 40%;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  @media (max-width: 630px) {
    height: 100%;
    // width: 90%;
  }
}

.list__entry {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  
  .article__body {
    display: none;
  }
  .article__title {
    color: #666666;
  }

  &.active {
    .article__body {
      display: flex;
    }
  }
}

.list__collection {
  .link__media, .date__media {
    padding-right: 10px;
    border-right: 1px solid #666666;
    padding-left: 10px;
    &.text {
      padding-right: 3px;
      padding-left: 3px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }

  .article__wrapper {
    .large {
      padding-bottom: 30px;
      font-size: 1.75em
    }
    flex-direction: column;
  }
}

//////////////
/* controls */
//////////////


.list__links {
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  z-index: 1;
  justify-content: flex-start;
}

.list__link {
  height: 15px;
  width: 15px;
  background-color: #666666;
  margin-right: 10px;
  &.active {
    background-color: #333333;

  }
  &:last-child{
    border-right: 0px;
  }
  &:hover {
    cursor: pointer;
    background-color: #333333;
  }
}

.list__content {
  width: 40%;
  @media (max-width: 630px) {
    height: 100%;
    width: 90%;
  }
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  flex: 1;
}

.list__visuals{
  flex-direction: column;
  flex: 1;
}

