.list__link {
  justify-content: center;
}

.list__navigation--back {
  flex: 1;
}

.list__wrapper {
  display: block;
  width: 100%;
  @media (max-width: 1080px) {
    overflow: scroll;
  }    
}
.list__wrapper--inner {
  height: 100%;
  @media (max-width: 1080px) {
    margin-top: 10px;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }     
}

.list__container {
  max-width: 90.75vw;;
  flex-direction: row;
  flex: 1;
  @media (max-width: 600px) {
    max-width: 98vw;    
  }
}

.list {
  flex: 1;
}

.list__entries {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.list__visuals {
  cursor: pointer;
}

.list__entry {
  &:not(.active) {
    cursor: pointer;
    &:hover {
      .article__title {
        color: #444444;
      }
    }
  }
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 35px;

  .article__body {
    display: none;
  }
  .article__title {
    color: #666666;
  }

  &.active {
    .article__body {
      display: flex;
      padding-left: 15px;
    }
  }
}

.list-item__collection--part {
  .link__media {
    padding-right: 10px;
    border-right: 1px solid #666666;
    padding-left: 10px;
    &.text {
      padding-right: 3px;
      padding-left: 3px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }

  .date__media, .link__media {
    border-right-width: 2px;
  }

  .article__wrapper {
    .large {
      padding-bottom: 30px;
      font-size: 1.75em
    }
    flex-direction: column;
  }
}

.list-item__collection--info {
  align-items: center;
  height: 20px;
  padding-left: 10px;
}

.list__shows {
  .list__content--wrapper {
    margin-top: 100px;
  }
}

//////////////
/* controls */
//////////////


.list__links {
  width: 15px;
  flex-direction: column;
  flex-grow: 0;
  z-index: 1;
  justify-content: center;
  margin-right: 15px;
  @media (max-width: 1080px) {
    margin-bottom: 20px;
    justify-content: flex-start;
  }
}

.list__link {
  height: 15px;
  width: 15px;
  background-color: #666666;
  margin-top: 15px;
  &.active {
    background-color: #333333;
  }
  &:last-child{
    border-right: 0px;
  }
  &:hover {
    cursor: pointer;
    background-color: #333333;
  }
}

.list__content {
  flex-direction: row;
  max-width: 40.75vw;
  width: 40.75vw;
  overflow: scroll;
  @media (max-width: 1080px) {
    width: 57vw;
    max-width: 57vw;
    flex-basis: auto;
    flex-shrink: 0;
    margin-top: 30px;
  }
  @media (max-width: 600px) {
    margin-left: 0;    
    max-width: 98vw;
    width: 340px;
    margin-right: 0;
  }  
  justify-content: center;
  flex: 1;
}

.list__content--wrapper {
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;

  @media (min-width: 600px) and (max-width: 960px) {
    width: 70vw;
  }
  @media (max-width: 600px) {
    width: 80vw;
  }
}

.list__visuals{
  width: 670px;
  height: 670px;
  flex-direction: column;
  flex-shrink: 0;
  align-content: center;
  justify-content: center;
  align-self: center;
  @media (max-width: 1080px) {
    align-self: auto;
    width: 57vw;
    height: 57vw;
    flex-basis: auto;
    flex-shrink: 0;
  }
  @media (max-width: 600px) {

    margin-left: 0;
    width: 340px;
    height: 340px;
  }    
}

.list__link{
  height: 15px;
  width: 15px;
  background-color: #666666;
  margin-right: 10px;
  &.active {
    background-color: #333333;

  }
  &:last-child{
    border-right: 0px;
  }
  &:hover {
    cursor: pointer;
    background-color: #333333;
  }


}
