@import "../../../variables";

.line__link {
  justify-content: center;
}

.line__navigation--back {
  flex: 1;
}

.line__wrapper {
  flex: 1;
}

.line__container {
  padding-left: 30px;
  max-width: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.line {
  flex: 1;
}

.line__items {
  display: flex;
  width: 100%;
  position: relative;
  flex-basis: 100%;
  flex: 1;
  overflow: hidden;
  // overflow-x: hidden;
  // overflow-y: scroll;
  @media (max-width: 600px) {
    height: 100%;
    width: 90%;
  }
}

.line__item {
  display: none;
  &.active {
    display: flex;
  }
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

//////////////
/* controls */
//////////////


.line__links {
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  z-index: 1;
  justify-content: flex-start;
  flex-direction: row !important;
  margin-bottom: 30px;
}

.line__link {
  height: 15px;
  width: 15px;
  background-color: $grayMedium;
  margin-right: 10px;
  &.active {
    background-color: #333333;

  }
  &:last-child{
    border-right: 0px;
  }
  &:hover {
    cursor: pointer;
    background-color: #333333;
  }
}
