.date__media, .date__part {
  padding-right: 10px;
  border-right: 1px solid #666666;
  padding-left: 10px;
  &.text {
    padding-right: 3px;
    padding-left: 3px;
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border-right: 0;
  }
}

.date__media {
  height: 17px;
  align-self: center;
}