.list-item, .list-item * {
  flex-direction: column;
}
.list-item {
  @media (min-width: 960px) {
    width: 42vw;
  }
  @media (max-width: 960px) {
    .list__description {
      justify-content: flex-start !important;
      padding-top: 20px;
    }
    flex-shrink: 0;
  }
  @media (min-width: 600px) and (max-width: 960px) {
    flex-basis:70vw;
    width: 70vw;
  }
  @media (max-width: 600px) {
    width: 80vw;
  }

  .article__body {
    @media (min-width: 960px) {
      width: 34vw;
    }
    @media (min-width: 600px) and (max-width: 960px) {
      flex-shrink: 0;
      width: 70vw;
    }
    @media (max-width: 600px) {
      flex-shrink: 0;
      width: 80vw;
    }
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .list__container canvas {
    width: 70vw !important;
    height: 70vw !important;
  }
  .list__container svg {
    width: 70vw !important;
    height: 70vw !important;
  }
}

@media (max-width: 600px) {
  .list__container canvas {
    width: 80vw !important;
    height: 80vw !important;
  }
  .list__container svg {
    width: 80vw !important;
    height: 80vw !important;
  }
}
