
.line-navigation__contact {
  width: 100vw;
  height: 10vh;
  justify-content: flex-start;
}

.line-navigation {
  width: 100vw;
  height: 100%;
  flex-grow: 0;
  z-index: 1;
  justify-content: flex-start;
}

.line-navigation__wrapper {
  width: 100%;
  justify-content: center;
}

.line-navigation__line {
  display: none;
}

.line-navigation__line.active {
  display: block;
}

//////////////
/* controls */
//////////////

.line-navigation__controls--prev, .line-navigation__controls--next {
  align-self: flex-end;
  font-family: 'Arial';
  font-size: 1.3rem;
  flex-direction: row;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
}
.line-navigation__controls--prev:hover, .line-navigation__controls--next:hover {
  color: #1e1e1e;
}

.line-navigation__controls--current {
  flex-direction: row;
  min-width: 150px;
  justify-content: center;
  font-size: 1.75rem;
}
