
.line-navigation__container {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 6.25vw;
}

.line-navigation__contact {
  width: 100vw;
  height: 10vh;
  justify-content: flex-start;
}

.line-navigation__header {
  padding-top: 25px;
  flex-direction: column;
  width: 100vw;
  flex-grow: 0;
  z-index: 1;
}

.line-navigation__title {
  padding-bottom: 20px;
}

.line-navigation__links {
  height: 100%;
  flex-grow: 0;
  z-index: 1;
  justify-content: flex-start;
}

.line-navigation__link {
  padding-right: 10px;
  border-right: 1.5px solid gray;
  padding-left: 10px;
  &:last-child{
    border-right: 0px;
  }
  &:first-child{
    padding-left: 0px;
  }
}

.line-navigation__wrapper {
  width: 100vw;
  width: 100%;
  justify-content: center;
}

.line-navigation__line {
  display: none;
}

.line-navigation__line.active {
  display: block;
}

//////////////
/* controls */
//////////////

.line-navigation__controls--prev, .line-navigation__controls--next {
  align-self: flex-end;
  flex-direction: row;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
}
.line-navigation__controls--prev:hover, .line-navigation__controls--next:hover {
  color: #1e1e1e;
}

.line-navigation__controls--current {
  flex-direction: row;
  min-width: 150px;
  justify-content: center;
}
