.contact__wrapper {
  flex-direction: row;
  justify-content: center;
  flex-basis: 40px;
}
.contact__wrapper .article__wrapper {
  flex-direction: column;
  justify-content: flex-end;
}
.contact__wrapper .article__title {
  color: rgba(100, 100, 100, 0.5);
}
.contact__wrapper .article__body {
  padding: 11px 8px;
}
.contact__wrapper .article__body p {
  display: flex;
}

.contact__information {
  padding: 0 10px 0 0;
}

.contact__links {
  flex-direction: row;
}

.contact__links .link__media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}