
@import "../../../variables";

.subscription__wrapper {
    align-items: center;
}

.subscription__wrapper .subscription__button {
  border-right: 1.5px solid;
  border-color: $grayMedium;
  margin-right: 10px;
  padding-right: 20px;
  &.active {
    margin-right: 5px;
    padding-right: 15px;
  }

  &:hover {
    cursor: pointer;
  }
}
.subscription__text {
  &:hover {
    color: #000000;
  }
}
.subscription__button {
  padding-bottom: 12px;
  padding-top: 12px;
}
// .subscription__wrapper .subscription__button .subscribed {
//   color: rgba(100, 155, 100, 0.5) !important;
// }
.subscription__wrapper .subscription__input {
  width: 140px;
  border: 2px solid;
  border-color: transparent;
  background: #aaaaaa;
  padding: 5px 10px;
}
.subscription__actions {
    align-items: center;
}
.subscription__wrapper input {
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}
.subscription__wrapper .error {
  color: rgba(200, 100, 100, 1.0);
}
.subscription__wrapper .invalid .subscription__input {
  border-color: rgba(200, 100, 100, 1.0);
}
.subscription__wrapper .subscription__error {
  margin-top: 5px;
}
.subscription__wrapper .subscription__form {
  flex-direction: column;
}

.subscription__wrapper {
  .subscription__cancel, .subscription__confirm {
    width: 15px;
    height: 15px;
    padding: 3px;
    background-color: $grayMedium;
    border-radius: 3px;
  }

  .subscription__confirm {
    font-size: 1.5rem;
    letter-spacing: 0.0px;
    &:hover {
      background-color: #141414;
    }
    &.disabled:hover {
      background-color: $grayMedium;
    }
  }

  .subscription__cancel {
    &:hover {
      background-color: #141414;
    }
    &.disabled:hover {
      background-color: $grayMedium;
    }
  }

  .subscription__option {
    color: #7f7f7f;
    line-height: 0;
    align-items: center;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
  }
}
